<a href="https://colab.research.google.com/github/DevAnand-debugger/study_of_loops/blob/main/loops_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Name=Dev Anand

###PRN=25070123039

###Batch=A2

####Experiment-7

In [ ]:
#While loop
# Used when the number of itrations is not known
#Itration means how many things you want to print
Syntax
while condition:
  statement(s)

In [ ]:
# Print i as long as i is less than 6:

i = 1
while i<=5:
  print(i)
  i=i+1

1
2
3
4
5

In [ ]:
#Print numbers from 1 to N
N = int(input("Enter the number till where you want", ))
i=1
while i<=N:
  print(i)
  i=i+1

Enter the number till where you want6
1
2
3
4
5
6

In [ ]:
#Factorial of a Number

n = int(input("Enter the number whose Factorial you want:" ))
fact = 1
while n>0 :

  fact = fact*n
  n =n-1

print(fact)

Enter the number whose Factorial you want:5
120

In [ ]:
#Fibonacci Series while loop

n = int(input("Enter till where you want the fibonacci series: "))
a = 0
b = 1

i = 0
while(i<n):
 print(a)
 c = a+b
 a=b
 b=c
 i = i + 1

Enter till where you want the fibonacci series: 7
0
1
1
2
3
5
8

In [ ]:
#Reverse a number

num = int(input("Enter a number: "))
rev = 0

while num>0:
  digit = num % 10
  rev = rev * 10 + digit
  num //= 10
print("Reversed number=",rev)

Enter a number: 123
Reversed number= 321

In [ ]:
#Check Palindrome
n = int(input("Enter a number: "))
word = n
rev = 0

while n > 0:
    digit = n % 10
    reverse = reverse * 10 + digit
    n = n // 10

if word == reverse:
    print("Palindrome")
else:
    print("Not Palindrome")

Enter a number: 121

NameError: name 'reverse' is not defined

In [ ]:
s = "madam"
i,j = 0,len(s) - 1
is_palindrome = True
while i<j:
  if s[i] != s[j]:
    is_palindrome = False
    break
  i +=1
  j -=1

if is_palindrome:
  print("Yes")
else:
  print("No")

Yes

##The break Statement

With the break statement we can stop the loop even if the while condition is true:

In [ ]:
#Exit the loop when i is 3:
n = int(input("Enter the number: "))
i=1

while i <=n :
  if i==3:
     break
  print(i)
  i +=1

Enter the number: 6
1
2

In [ ]:
prn = [176, 225, 23, 39, 223]

key = int(input("Enter PRN to search: "))

found = False

for num in prn:
    if num == key:
        found = True
        break

if found:
    print("Prn found in the list ")
else:
    print("Prn not found in the list ")

Enter PRN to search: 176
Prn found in the list

While-Continue

continue skips the remaining statements of the current iteration and jumps back to the while condition.

In [ ]:
#Print numbers from 1 to 10 (skip 5)
i = 1
while i<=10:
  if i==5:
    i=i+1
    continue
  print(i)
  i=i+1

1
2
3
4
6
7
8
9
10

In [ ]:
#Print only odd numbers from 1 to 10
i = 1
while i<=10:
  print(i,end=' ')
  i=i+2

1 3 5 7 9

In [ ]:
i = 1
while i<=10:
  if i%2==0:
    i +=1
    continue
  print(i)
  i +=1

1
3
5
7
9

For Loops

In [ ]:
#PRint numbers from 1 to 5

for i in range(1,6):
  print(i)

1
2
3
4
5

In [ ]:
#Print even numbers from 1 to 10
for i in range(2,11,2):
  print(i,end=' ')

2 4 6 8 10

In [ ]:
#Sum of first N numbers

n = int(input("enter a number: "))
sum = 0
for i in range(1,n+1):
  sum += i
print(sum)

enter a number: 5
15

In [ ]:
# Nested for Loop
# note last number in range bracket in exclusive
for i in range(1,4):
  for j in  range(1,4):
    print(i,j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [ ]:
#3x3 matrix display
A = [[1,2,3],
     [4,5,6],
     [7,8,9]]

for i in range(3):
  for j in range(3):
    print(A[i][j],end=" ")
  print() #we can notice indentation logic and this print is in i for loop

1 2 3
4 5 6
7 8 9

In [ ]:
#Multiplication of Two 3x3 Matrices
A = [[1,2,3],[4,5,6],[1,2,1]]
B = [[1,1,1],[6,5,4],[3,2,1]]

Result =[[0,0,0],[0,0,0],[0,0,0]]

for i in range(3):    #rows of A
  for j in range(3):  #column of B
    for k in range(3):
      Result[i][j] += A[i][k] * B[k][j]

print("Product of matrices:")
for row in Result:
  print(row)

Product of matrices:
[22, 17, 12]
[52, 41, 30]
[16, 13, 10]

In [ ]:
#multiplication of two matrices with taking their inputs

In [ ]:
#Python Program to Accept Three digits and Print all Possible Combination
d1 = 1
d2 = 2
d3 = 3

d=[d1,d2,d3]

for i in range(0,3):
  for j in range(0,3):
    for k in range(0,3):
      if(d[i]!=d[j]and d[j]!=d[k] and d[k]!=d[i]):
        print(d[i],d[j],d[k])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

In [ ]:
#Armstrong number
num = int(input())
total = 0

for digit in str(num):
  total += int(digit)** len(str(num))

if total == num:
  print("Armstrong")
else:
  print("Not Armstrong")

121
Not Armstrong

In [ ]:
for num in range(2, 50):
    for j in range(2, num):
        if num % j == 0:
            break
    else:
        print(num,end=' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

In [ ]:
n=5
for i in range(n):
  print(i*' ',(n-i)*'$')

 $$$$$
  $$$$
   $$$
    $$
     $

In [ ]:
n=5
for i in range(n):
  print(i*' ',(n-i)*'$ ')#Inverted pyramid

 $ $ $ $ $
  $ $ $ $
   $ $ $
    $ $
     $

In [ ]:
n=6
for i in range(n):
  print((n-i)*' ',i*' $')

       $
      $ $
     $ $ $
    $ $ $ $
   $ $ $ $ $

In [ ]:
num =1

for i in range(1,6):
  for j in range(i):
    print(num,end=" ")
    num += 1
  print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [ ]:
#Write a Pythin code for Inverted Right Angle Triangle
for i in range(5,0,-1):
  print("* " * i)

* * * * *
* * * *
* * *
* *
*